# Visual Studio Code
#.vscode/
.suo

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.selections.json
docs.json
__dummy.html


# Code coverage
*.lst

# Examples

examples/*/log.txt
examples/UnitTest/unittest
/java/

# others
mixin_output.d
.DS_Store
*.zip
*-test-*
